<div class="main users-new">
    <div class="container">
        <div class="form-heading">新規ユーザー登録</div>
        <div class="form users-form">
            <%= form_tag("/users/create") do %>
                <div class="form-body">
                    <p>ユーザー名</p>
                    <input name="name" value="<%= @user.name %>">
                    <p>メールアドレス</p>
                    <input name="email" value="<%= @user.name %>">
                    <input type="submit" value="新規登録">
                </div>
            <% end %>
        </div>
    </div>
</div>