<header>
  <div class="header-logo">
    <a href="/">MemoApp</a>
  </div>
  <ul class="header-menus">
    <li><a href="/about">MemoAppとは</a></li>
  </ul>
</header>

<div class="about-main">
  <h2>MemoAppとは</h2>
  <p>
    メモ登録サービスです。
    メモを投稿し、他のユーザーと共有することができます。
  </p>
</div>