<header>
  <div class="header-logo">
    <a href="/">MemoApp</a>
  </div>
  <ul class="header-menus">
    <li><a href="/about">MemoAppとは</a></li>
  </ul>
</header>

<div class="main top-main">
  <div class="top-message">
    <h2>メモ帳</h2>
    <p>ログイン機能付き</p>
  </div>
</div>